In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn import preprocessing 
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv('insurance.csv')

In [4]:
data

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [5]:
data.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [6]:
data.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [7]:
data['smoker'] = data['smoker'].apply(lambda x: 0 if x == 'no' else 1)
data['sex'] = data['sex'].apply(lambda x: 0 if x == 'female' else 1)
data = pd.get_dummies(data)

In [8]:
features = data.drop('charges', axis=1).columns
X, y = data[features], data['charges']

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
display(X_test.shape[0])

268

In [11]:
model = LinearRegression()
model.fit(X_train, y_train)

weight_df = pd.DataFrame({'Features': features, 'Weight': model.coef_})
w_0 = pd.DataFrame({'Features': ['Intercept'], 'Weight': [model.intercept_]})
data_of_weight = pd.concat([w_0, weight_df], axis=0).reset_index(drop=True)

display(data_of_weight)
y_train_predict = model.predict(X_test)

           Features        Weight
0         Intercept -12390.804295
1               age    256.975706
2               sex    -18.591692
3               bmi    337.092552
4          children    425.278784
5            smoker  23651.128856
6  region_northeast    459.585244
7  region_northwest     88.907918
8  region_southeast   -198.279052
9  region_southwest   -350.214110